# Delphi #
###########
*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
# Lazarus #
###########
*.com
*.class
*.o
*.so
*.dbf
*.bak
*.ppu
*.out
*.compiled
*.obj
*.res
*.lfm
*.err
*.lps
lib/*
backup/*